<% content_for(:title) { "Foobugs dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="facebook_likes" data-view="Number" data-title="Facebook Likes" style="background-color: #3b5998"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="facebook_checkins" data-view="Number" data-title="Facebook Checkins" style="background-color: #3b5998"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="Tweets mentioning foobugs"></div>
      <i class="icon-twitter icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="github_userinfo_followers" data-view="Number" data-title="GH Ephigenia Followers" style="background-color: #4183C5"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tippjagd_active_users" data-view="Number" data-title="Tippjagd Active Users" style="background-color: #54a146"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tippjagd_users" data-view="Number" data-title="Tippjagd Users Total" style="background-color: #54a146"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tippjagd_active_guesses" data-view="Number" data-title="Tippjagd Active Guesses" style="background-color: #54a146"></div>
    </li>
  </ul>
</div>