<% content_for(:title) { "Foobugs dashboard" } %>
<div class="gridster">
  <ul>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="github_user_repos_watchers" data-view="List" data-unordered="true" data-title="Github Repos" style="background-color: #4183C5" data-moreinfo="# of watchers"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="github_userinfo_followers" data-view="Number" data-title="GH Ephigenia Followers" style="background-color: #4183C5"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_user_followers" data-view="Number" data-title="Twitter Followers" style="background-color: #1d9fe3"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="vimeo_userinfo_contacts" data-view="Number" data-title="Vimeo Contacts" style="background-color: #278acf"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="slideshare_user_followers_count" data-view="Number" data-title="Slideshare Followers" style="background-color: #2c2a26"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="instagram_user_followers" data-view="Number" data-title="Instagram Followers" style="background-color: #335b84"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="google_play_average_rating" data-view="Number" data-title="Instagram App Score" style="background-color: #69971c"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="google_play_voters_total" data-view="Number" data-title="App Voters" style="background-color: #69971c"></div>
    </li>
    
  </ul>
</div>