<% content_for(:title) { "Foobugs dashboard" } %>
<div class="gridster">
  <ul>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="github_user_repos_watchers" data-view="List" data-unordered="true" data-title="Github Repos" style="background-color: #4183C5" data-moreinfo="# of watchers"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="github_userinfo_followers" data-view="Number" data-title="GH Ephigenia Followers" style="background-color: #4183C5"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="foursquare_checkins_total" data-view="Number" data-title="Foursquare Checkins" style="background-color: #80c02d"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="facebook_likes" data-view="Number" data-title="Facebook Likes" style="background-color: #3b5998"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="klout_score" data-view="Number" data-title="Klout Score" style="background-color: #ff8000"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_user_followers" data-view="Number" data-title="Twitter Followers" style="background-color: #1d9fe3"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="instagram_user_followers" data-view="Number" data-title="Instagram Followers" style="background-color: #315980"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="instagram_userinfo" data-view="List" data-title="Instagram Stats" style="background-color: #315980"></div>
    </li>
  </ul>
</div>