<% content_for(:title) { "Foobugs dashboard" } %>
<div class="gridster">
  <ul>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="github_user_repos_watchers" data-view="List" data-unordered="true" data-title="Github Repos" style="background-color: #4183C5" data-moreinfo="# of watchers"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="github_userinfo_followers" data-view="Number" data-title="GH Ephigenia Followers" style="background-color: #4183C5"></div>
    </li>

    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="vimeo_userinfo_contacts" data-view="Number" data-title="Vimeo Contacts" style="background-color: #278acf"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="vimeo_userinfo_list" data-view="List" data-title="Vimeo User" style="background-color: #278acf"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="vimeo_uservideos_likes" data-view="List" data-title="Vimeo Top" style="background-color: #278acf" moreinfo="ordered by likes"></div>
    </li>
    
  </ul>
</div>